<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>find id view</title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
        <style>
         body{
            margin: auto;
            text-align: center;
            background-color: #2d2c2e;          
            color: #fbbd0d;   
            font-size: 17px;
            font: sans-serif;
            font-weight: bold;
        }
        table th, td{
            color: #ffffff;
            font-size: 17px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div>
       <h1 align = "center">아이디 찾기</h1>

       <!-- 찾는아이디 xx**** 형태로 출력하기 -->
       <%if(flag){%>
            찾으시는 아이디는<br>
        <h2>
            <%for(var i=0; i<tmpIdArray.length; i++){%>
                <%var index = tmpIdArray[i].id.length - 2%>
                <%var tmpId = tmpIdArray[i].id.substring(0, 2)%>

                <%for(var j = 0; j < index; j++){%>
                    <%tmpId += "*"%>
                <%}%>

                <%=tmpId%><br>
            <%}%>입니다
        </h2>
        <%}else{%>
            이메일을 잘못 입력했습니다.<br>
            <input type = "button" value = "뒤로가기" onclick = "history.back()">
        <%}%>
    </div>
</body>
</html>

